body {
  background-color: DarkGray;
}
h1 {
  color: blue;
}
p {
  color: red;
}
.bottomtext {
  background-color: white;
  color: black;
}
#text {
  text-align: center;
}
a:hover {
  color: orange;
}

div {
  padding: 50px;
  margin: 200px;
}